## Make descriptive symlinks in /dev to various microscopy devices

# Leica microscope
SUBSYSTEM=="tty", ATTRS{product}=="USB <-> Serial", ATTRS{manufacturer}=="FTDI", SYMLINK+="ttyScope"

# Lumencor Spectra lamp
SUBSYSTEM=="tty", ATTRS{product}=="FT232R USB UART", ATTRS{manufacturer}=="FTDI", ATTRS{serial}=="A904PUK9", SYMLINK+="ttySpectra"

# IOTool interface box
SUBSYSTEM=="tty", ATTRS{product}=="IOTool", ATTRS{manufacturer}=="zplab.wustl.edu", ATTRS{serial}=="0xFFFF", SYMLINK+="ttyIOTool"

# Torrey Pines Scientific peltier controller
SUBSYSTEM=="tty", ATTRS{product}=="FT232R USB UART", ATTRS{manufacturer}=="FTDI", ATTRS{serial}=="A906BJED", SYMLINK+="ttyPeltier"

# Humidity controller
SUBSYSTEM=="tty", ATTRS{product}=="USB-RS232 Cable", ATTRS{manufacturer}=="FTDI", ATTRS{serial}=="FT03DVUE", SYMLINK+="ttyHumidifier"

