## Make descriptive symlinks in /dev to various microscopy devices

# Leica microscope
SUBSYSTEM=="tty", ATTRS{product}=="Leica DMI8", ATTRS{manufacturer}=="Leica Microsystems", SYMLINK+="ttyScope"

# Lumencor Spectra lamp
SUBSYSTEM=="tty", ATTRS{product}=="UT232R", ATTRS{manufacturer}=="FTDI", ATTRS{serial}=="FTYHQQCP", SYMLINK+="ttySpectra"

# IOTool interface box
SUBSYSTEM=="tty", ATTRS{product}=="IOTool", ATTRS{manufacturer}=="zplab.wustl.edu", ATTRS{serial}=="0xFFFF", SYMLINK+="ttyIOTool"

# IOTool interface box
SUBSYSTEM=="tty", ATTRS{product}=="IOTool", ATTRS{manufacturer}=="zplab.wustl.edu", ATTRS{serial}=="0xFFFA", SYMLINK+="ttyMicrofluidics"
