## Make descriptive symlinks in /dev to various microscopy devices

# Leica microscope
SUBSYSTEM=="tty", ATTRS{product}=="USB <-> Serial", ATTRS{manufacturer}=="FTDI", SYMLINK+="ttyScope"

# Lumencor Spectra lamp
SUBSYSTEM=="tty", ATTRS{product}=="FT232R USB UART", ATTRS{manufacturer}=="FTDI", ATTRS{serial}=="AH05KCHF", SYMLINK+="ttySpectra"

# Anova A25 circulator
SUBSYSTEM=="tty", ATTRS{product}=="FT232R USB UART", ATTRS{manufacturer}=="FTDI", ATTRS{serial}=="A600TTJN", SYMLINK+="ttyCirculator"

# IOTool interface box
SUBSYSTEM=="tty", ATTRS{product}=="IOTool", ATTRS{manufacturer}=="zplab.wustl.edu", ATTRS{serial}=="0xFFFF", SYMLINK+="ttyIOTool"

# Humidity controller
SUBSYSTEM=="tty", ATTRS{product}=="USB-RS232 Cable", ATTRS{manufacturer}=="FTDI", ATTRS{serial}=="FT1DK2RR", SYMLINK+="ttyHumidifier"

